@import "tailwindcss";

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

/* We will keep this simple standard CSS for the gradient just in case */
.bg-microsoft-blue {
  background-color: #002d5c;
}